/*--media card styles--*/
*, *::after {
  box-sizing: border-box;
}
img {
  width: 100%;
}
.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.outer {
  padding: 20px;
}
@media screen and (min-width: 550px) {
  .outer {width: 50%;}
}
@media screen and (min-width: 1024px){
@media screen and (min-width: 1280px){
  .cards-item {width: 25%;}
.card {
  border: 1px solid #800000;
  background-color: #800000
}
.card-text {
  padding: 0 20px;
}
h1{text-align: center;}
h1{color:black}
h4{text-align: center;}
p{text-align: center;
color: white;}
button {
  background-color: gray;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}
