/*--media card styles--*/
*, *::after {
  box-sizing: border-box;
}
body {
  width: 85%;  /*-- sets width of whole body to 85% --*/
  margin: 0 auto;  /*-- centers the whole body --*/
  background-color: #ffcccc;}
}
img {
  width: 100%;
}
.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.outer {
  padding: 20px;
}
@media screen and (min-width: 550px) {.outer {width: 50%;}
}
@media screen and (min-width: 1024px){.outer {width: 30%;}}
@media screen and (min-width: 1280px){.outer {width: 25%;}}

.card {
  border: 1px solid #800000;
  background-color: #800000
}
.card-text {
  padding: 0 20px;
}
h1 {
  text-align: center;
  font-family: 'Alegreya Sans', sans-serif;
  color:black;
}
h4 {
  text-align: center;
font-family: 'Roboto Slab', serif;
color: white;
font-size: 20px}
p {
  text-align: center;
  color: white;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 20px;}

button {
  background-color: gray;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  font-family: 'Roboto Slab', serif;
}
button:hover {
  background-color: #333;
}
footer p {
  color: black;
}
