/*--media card styles--*/
*, *::after {
  box-sizing: border-box;
}
img {
  width: 100%;
}
.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.outer {
  width: 25%;
  padding: 20px;
}
.card {
  border: 1px solid #ccc;
}
.card-text {
  padding: 0 20px;
}
h1{text-align: center;}
h1{color:red}
h4{text-align: center;}
p{text-align: center;}
